<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Basic -->
    <title>Row | Panza Docs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/logo/favicon.png" sizes="16x16 32x32 64x64">

    <!-- Social -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://panza.js.org">
    <meta property="og:title" content="Row | Panza Docs">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary_image_large">
    <meta name="twitter:site" content="@panza">
    <meta name="twitter:title" content="Row | Panza Docs">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Misc -->
    <meta name="google-site-verification" content="" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body class="">
    

<div class="nav dark">
  <div class="nav-group">
    <div class="nav-item">
      <span class="js-sidebar-toggle show-mobile">
        <span class="icon-menu"></span>
      </span>
      <a class="logo show-desktop" href="http://panza.js.org" title="Panza Docs" target=_new >
        <img src="/logo/logo-text.svg" alt="Panza Docs"/>
        <span>Documentation</span>
      </a>
    </div>
  </div>

  <div class="center-wrapper show-mobile">
    <img src="/logo/logo-text.svg" alt="Panza Docs"/>
    <div>Documentation</div>
  </div>

  <div class="nav-group right">
    
    
      <div class="nav-item show-desktop active">
        <a class="link" href="http://panza.js.org"  >
          <span>Docs</span>
        </a>
      </div>
    
      <div class="nav-item show-desktop ">
        <a class="link" href="https://github.com/panza-org/panza" target=_new >
          <span>Github</span>
        </a>
      </div>
    
  </div>

  

</div>

<div class="sidebar">
  <div class="panel">
    <div class="panel-item">
      <a class="" href="http://panza.js.org" title="Panza Docs" target=_new >
        <span>Panza Docs</span>
      </a>
    </div>
    
      <div class="panel-item active"">
        <a class="" href="http://panza.js.org"  >
          <span>Docs</span>
        </a>
      </div>
    
      <div class="panel-item "">
        <a class="" href="https://github.com/panza-org/panza" target=_new >
          <span>Github</span>
        </a>
      </div>
    
  </div>

  <div class="sidebar-content">
    <div class="topcap">
      <span class="title-sidebar">Panza Docs</span>
      
    </div>

    

    <ul class="toc">
      
        <li>
          
          <ul class="list-toc">
            
              
              <li class="item-toc ">
                <a href="../index.html" class="sidebar-link ">
                  <span>Getting Started</span>
                </a>
              </li>
            
          </ul>
        </li>
      
        <li>
          
            <div class="heading-toc">Component API</div>
          
          <ul class="list-toc">
            
              
              <li class="item-toc ">
                <a href="Base.html" class="sidebar-link ">
                  <span>Base</span>
                </a>
              </li>
            
          </ul>
        </li>
      
    </ul>
  </div>
</div>

<div class="content">
  <div class="content-wrapper">
    <div class="header-content">
      <h1 class="title-page">Row</h1>
      

      <div class="page-actions">
        <div class="actions-group">
          <a class="btn primary small round lowercase" href="https://github.com/panza-org/panza-docs/tree/master/source/components/Row.md" target="_blank"><span class="icon-github"></span> <span>Edit on GitHub</span></a>
          
        </div>
      </div>
    </div>

    <div class="document-formatting">
      <h3 id="Divider"><a href="#Divider" class="headerlink" title="Divider"></a>Divider</h3><p>A simple component used to separate rows, with anoptional inset margin on the left or right.</p>
<p><strong>Props</strong></p>
<blockquote>
<p><code>inset</code> <em>number</em> </p>
<p><em>defaultValue: <code>0</code></em></p>
<p><code>insetRight</code> <em>number</em> </p>
<p><em>defaultValue: <code>0</code></em></p>
<p><code>inverted</code> <em>bool</em><br>Use the inverted colour *</p>
</blockquote>
<h3 id="SectionHeader"><a href="#SectionHeader" class="headerlink" title="SectionHeader"></a>SectionHeader</h3><p>SectionHeader is used for rendering a section header within a ListView.Supply text as the child.<br> <strong>Composes</strong>: <a href="elements.html#Base">Base</a> </p>
<p><strong>Props</strong></p>
<blockquote>
<p><code>backgroundColor</code> <em>string</em> </p>
<p><em>defaultValue: <code>&#39;gray&#39;</code></em></p>
</blockquote>
<h3 id="TouchableRow"><a href="#TouchableRow" class="headerlink" title="TouchableRow"></a>TouchableRow</h3><p>The basic RowCell for use within ListView. It displaysan image, primary text, secondary text, a value,and an arrow right icon if the respective props arespecified.<strong>Platforms</strong>:  ios, android, web<br> <strong>Composes</strong>: <a href="elements.html#TouchableRowCell">TouchableRowCell</a>, <a href="elements.html#Image">Image</a>, <a href="elements.html#Text">Text</a> </p>
<p><strong>Props</strong></p>
<blockquote>
<p><code>primaryText</code> <em>union(string,node)</em> </p>
<p><code>secondaryText</code> <em>union(string,node)</em> </p>
<p><code>value</code> <em>union(string,node)</em><br>A value attribute of the cell, to appear on the right</p>
<p><code>onPress</code> <em>func</em>  (required)</p>
<p><code>image</code> <em>union(object,node)</em><br>An thumbnail to be displayed on the left of the cell</p>
<p><code>height</code> <em>number</em> </p>
<p><code>inverted</code> <em>bool</em> </p>
<p><code>showMore</code> <em>bool</em><br>Displays a right arrow on the right hand side of the cell</p>
</blockquote>
<h3 id="TouchableRowCell"><a href="#TouchableRowCell" class="headerlink" title="TouchableRowCell"></a>TouchableRowCell</h3><p>A touchable row cell container, typically usedrendering rows in a &lt;ListView&gt;.</p>
<p><strong>Props</strong></p>
<blockquote>
<p><code>onPress</code> <em>func</em> </p>
<p><code>disabled</code> <em>bool</em> </p>
<p><em>defaultValue: <code>false</code></em></p>
<p><code>highlighted</code> <em>func</em> </p>
<p><em>defaultValue: <code>function noop () {}</code></em></p>
<p><code>showMore</code> <em>bool</em> </p>
<p><em>defaultValue: <code>true</code></em></p>
<p><code>showMoreProps</code> <em>object</em> </p>
<p><code>underlayColor</code> <em>string</em> </p>
<p><em>defaultValue: <code>&#39;rgba(0,0,0,0.1)&#39;</code></em></p>
<p><code>height</code> <em>number</em> </p>
</blockquote>

    </div>
  </div>

  <div class="pagination">
    <div class="content-wrapper">
      
      
        <a class="link primary prev"
          href="Popup.html">
          <span class="icon-arrow-left-alt"></span>
          <span class="subtitle-pagination">Previous</span>
          Popup
        </a>
      
      
        <a class="link primary next"
          href="RowInput.html">
          <span class="subtitle-pagination">Next</span>
          RowInput
          <span class="icon-arrow-right-alt"></span>
        </a>
      
    </div>
  </div>

  <div class="github">
    <a class="link tertiary " href="https://github.com/panza-org/panza-docs/tree/master/source/components/Row.md" target="_blank">
      <span class="icon-github"></span>Edit on GitHub</a>
  </div>

  
</div>

    <script src="/script/smooth-scroll.min.js"></script>
    <script src="/script/main.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/fastclick/1.0.6/fastclick.min.js"></script>

    <script>
      // nectar ninja
      (function(){
        var handle = '@meteorjs';
        var a = document.createElement('script');
        var m = document.getElementsByTagName('script')[0];
        a.async = 1;
        a.src = 'https://nectar.ninja/api/v1/' + handle.slice(1);
        m.parentNode.insertBefore(a, m);
      })();

     
      

      // search box
      

      
    </script>
  </body>
</html>
